@import url('https://fonts.googleapis.com/css?family=Alata|Nanum+Gothic&display=swap');

body {
    background-image: url('https://m.media-amazon.com/images/M/MV5BNmY3MTRjMjYtNjJiZC00ZDc3LTg5Y2QtZDYwNzFlOTc5ZWQxXkEyXkFqcGdeQXVyMTAwMjQxMzI@._V1_SY1000_SX1250_AL_.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.name {
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    font-weight: 900;
    max-height: 10vh;
    /* background-color: blue; */
}

.container {
    display: flex;
    min-height: 95vh;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}
.nav {
    /* background-color: blueviolet; */
    min-height: 90vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 
.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.vid iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 98%;
    height: 98%;
}
li {
    font-size: 34px;
    font-family: 'Alata', sans-serif;
    list-style-type: none;
    margin-bottom: 40px;
    background-image: url('./motherofpearl.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 0px rgb(146, 145, 145);
    transition: box-shadow 1s;
}

li:hover {
    box-shadow: 2px 4px 3px 0px rgb(146, 145, 145);
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    transition: color 1s;
    width: 160px;
}

a:hover {
    color: rgb(2, 133, 133);
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        min-height: 95vh;
        /* background-color: aqua; */
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 15px;
    }
}